{% extends 'base.html' %}
{% block title %}Question {{id}} {% endblock %}

{% block content%} 
<h1>{{survey.title}}</h1>

<h2>#{{id}}{{questions[id].question}}</h2>
<form action="/questions/{{id}}">
  {% for choice in questions[id].choices %}
  <label for = "{{choice}}">{{choice}}</label>
  <input type="radio" name="{{id}}" value = "{{choice}}">
  {% endfor %}
  {% if id >= questions|length %}
    <form action="/thanks"></form>
    {% endif %}
  <form action="/questions/{{id + 1}}" methods=['POST']>
  <button>next question</button>
</form> 
 
{% endblock %}
