{% extends 'base.html' %}
{% block title %}Question {{id}} {% endblock %}

{% block content%} 
<h1>{{title}}</h1>

<h2>{{id + 1}}: {{questions[id].question}}</h2>
<form action="/answer/{{survey}}/{{id}}">
  
  <!-- <input class="hidden" type="radio" name="survey" value="{{survey}}" readonly> -->
  {% for choice in questions[id].choices %}
  <label for = "{{choice}}">{{choice}}</label>
  <input type="radio" name="choice" value = "{{choice}}">
  {% endfor %}

  <button>next question</button>
</form> 
 
{% endblock %}
